<%= form_with(model: pet_owner, local: true) do |form| %>
  <% if pet_owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet_owner.errors.count, "error") %> prohibited this pet_owner from being saved:</h2>

      <ul>
      <% pet_owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :pets %>
    <%= form.text_field :pets %>
  </div>

  <div class="field">
    <%= form.label :actually_a_catgirl %>
    <%= form.check_box :actually_a_catgirl %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
